<div id="<%= dom_id(@comment) %>" class="mb-4 p-4 bg-gray-50 dark:bg-gray-800 rounded-lg">
  <div class="flex items-center justify-between">
    <div class="flex flex-col items-start justify-start">
      <div class="flex items-center justify-between mb-2">
        <div class="text-sm text-gray-500 dark:text-gray-400">
          <%= time_ago_in_words(@comment.created_at) if @comment.persisted?%>
        </div>
      </div>
      <p class="text-gray-800 dark:text-gray-200">
        <%= @comment.message %>
      </p>
    </div>

    <div class="p-2 rounded-full hover:bg-red-600 hover:text-white">
      <%= link_to comment_path(@comment), class: '', data: { turbo_method: :delete, turbo_confirm: t('comments.delete_confirmation') } do %>
        <%= inline_svg_tag('icons/trash_can.svg', class: 'w-6 h-6 text-white') %>
      <% end %>
    </div>
  </div>

  <div class="flex items-center justify-start">
    <%= render Votes::ButtonComponent.new(votable: @comment, url: product_comment_votes_path(@comment.comentable, @comment)) %>

    <%= turbo_frame_tag "comment_#{@comment.id}_votes_count" do %>
      <%= t('shared.votes_count', count: @comment.votes.count) %>
    <% end %>
  </div>
</div>
