<%= form_with model: product, data: { controller: "form", form_submit_text_value: title } do |f| %>
  <%= render Shared::ModalComponent.new(title:) do |component| %>
    <%= component.with_body_section do %>
      <div class="px-10 py-5 space-y-5">
        <div>
          <%= f.label :name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
          <%= f.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', placeholder: t('activerecord.attributes.product.name') %>
        </div>
        <div>
          <%= f.label :description, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
          <%= f.text_area :description, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', placeholder: t('activerecord.attributes.product.description') %>
        </div>
        <div class="flex items-center justify-start">
          <%= f.label :visible, class: 'block text-sm font-medium text-gray-900 dark:text-white mr-3' %>
          <%= f.check_box :visible, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5' %>
        </div>
      </div>
    <% end %>

    <%= component.with_footer_section do %>
      <div class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
        <%= render Shared::Forms::SubmitComponent.new(submit_text: title) %>
        <%= render Shared::Forms::CancelComponent.new(button_name: t('shared.cancel')) %>
      </div>
    <% end %>
  <% end %>
<% end %>
