<%= render Shared::ModalComponent.new(title: @product.name) do |component| %>
  <%= component.with_body_section do %>
    <div class="px-10 py-5 text-black dark:text-white">
      <% if @product.categories.any? %>
        <div><%= t('products.shared.categories_association') %></div>
        <ul class="flex flex-wrap gap-2 space-y-0">
          <% @product.categories.each do |category| %>
            <li>
              <%= render Categories::BadgeComponent.new(name: category.name, color: %w[indigo purple pink blue red green yellow orange brown lime teal cyan fuchsia violet].sample) %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="my-5">
        <%= @product.description %>
      </div>

      <div>
        <%= image_tag @product.image, class: 'w-full h-full object-cover rounded-lg' if @product.image.attached? %>
      </div>
    </div>
  <% end %>

  <%= component.with_footer_section do %>
    <%= component.with_footer_section do %>
      <div class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
        <%= link_to t('.edit_product'), edit_product_path(@product), class: 'bg-blue-500 text-white px-4 py-2 rounded-md' %>
        <%= link_to t('.delete'), product_path(@product), 
            class: 'bg-red-500 text-white px-4 py-2 rounded-md', 
            data: { 
              turbo_method: :delete, 
              turbo_confirm: t('.confirm'),
              action: 'click->shared--modal#hideModal'
            } %>
      </div>
    <% end %>
  <% end %>
<% end %>
